*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.body{
  background-color: wheat;
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

}
.input{
  width: 100px;
  height: 30px;
  border-radius: 10px;


}
p{
  text-align: center;
}
.new{
  background-color: wheat;
  background-color: wheat;
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50vh;
 flex-direction: column;
 
}